<div class="container-fluid addcategory-comp  mx-4">
  <h2 class="text-center"> Category</h2>


  <div class="row row-cols-md-3">
    <div class="col">
      <label for="carat-type">Carat Type:</label>
      <select class="form-select" [(ngModel)]="carattype" ngModel required name="carattype">
        <option value="22K">22K</option>
        <option value="24K">24K</option>
        <option value="18K">18K</option>
        <option value="Silver">Silver</option>
      </select>

    </div>
    <div class="col">
      <label for="categoryname">Category Name</label>
      <input class="form-control" type="text" placeholder="categoryname" [(ngModel)]="categoryname" ngModel required
        name="categoryname"><br><br>
    </div>
    <div class="col">
      <label for="subcategoryname">Sub Category Name</label>
      <input class="form-control" type="text" placeholder="subcategoryname" [(ngModel)]="subcategoryname" ngModel
        required name="subcategoryname">
    </div>
    <div class="col" *ngIf="0">
      <label for="quantity">Quantity</label>
      <input class="form-control" type="number" placeholder="quantity" [(ngModel)]="quantity" ngModel required
        name="quantity">
    </div>
  </div>

  <div class="buttons">
    <button class="btn btn-dark" (click)="addcategory()">Add Category</button>
  </div>
  <br>

  <div class="container-fluid">
    <input class="form-control" type="text" placeholder="Search " [(ngModel)]="searchTerm" (input)="filterCategories()">
    <br>
    <table class="table table-light" id="category-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Carat Type</th>
          <th scope="col">Category Name</th>
          <th scope="col">Sub Category Name</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of filteredCategories">
          <td>{{category.CaratType}}</td>
          <td>{{category.CategoryName}}</td>
          <td>{{category.SubCategoryName}}</td>
          <td (click)="deleteCatRecord(category.CategoryID)"> <i class='bx bx-x btn btn-danger'></i> </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>